/* Write your CSS code here */
.home-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-heading {
  color: black;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
}
